main section#hero {
  height: 800px;
  background-image: url("./images/places/ocean.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  

}

main div#hero-content {
  width: 900px;
  background-color: rgba(51, 47, 47, 0.8);
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 18px;
  text-align: center;
  padding: 50px 0;
  margin: auto 0;
  display: inline-block;
  position: relative;
  top: 200px;
}

main div#hero-content h1 {
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    font-family: "Raleway",sans-serif;
    margin: 0;
}

main div#hero-content p {
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 300;
}

main div#hero-content a {
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    padding: 12px 24px;
    color: black;
    font-size: 24px;
    border-radius: 5px;
    font-weight: 700;
    box-shadow: 2px 4px 8px rgb(0, 0, 0);

}

main section#highlight {
    text-align: center;
    margin: 0 ;
    padding: 24px;
    background: linear-gradient(45deg, rgb(227, 255, 253), rgb(202, 243, 240));
}



main section#highlight h2 {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 40px;
    color: rgb(59, 65, 64);
    margin: 24px 0;
}

main section#highlight ul {
    display: flex; 
    width: 100%;
    /* box-sizing: border-box; */
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    list-style: none;
    margin-bottom: 48px;
    flex-wrap: wrap;
}

main section#highlight ul li  {
    text-align: center;
    text-transform: uppercase;
}
main section#highlight ul li img {
    height: 220px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    object-fit: cover ;
}

main section#highlight ul li  p{
    font-size: 24px;
    color: rgb(124, 123, 123);
    margin: 24px 0;
}

main section#highlight ul li  p strong {
    color: rgb(0, 160, 117);
}
